<h1>User Behavioral Stats</h1>
<table class="table table-dark">
  <tr>
    <td>user_id</td><td>app_launched</td><td>most_active_day_last_7_days</td><td>number_of_days_active_last_7_days</td><td>most_launched_app_last_7_days</td>
  </tr>
  <tr>
    <td><%= @userstat.user_id %></td>
    <td><%= @userstat.app_launched %></td>
    <td><%= @userstat.most_active_day_last_7_days %></td>
    <td><%= @userstat.number_of_days_active_last_7_day %></td>
    <td><%= @userstat.most_launched_app_last_7_days %></td>
  </tr>
</table>
